<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EASY_PASS_SWITCH_PANEL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>

    <!-- ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ -->

    <!--<add name="adtm2ConnectionString" connectionString="Data Source=ADMIN-PC\SQLEXPRESS_PROIN;Initial Catalog=AMS_BD_GSK;Persist Security Info=True;User ID=sa;Password=proinsagsk" providerName="System.Data.SqlClient"/>-->
    <add name="adtm2ConnectionString" connectionString="Data Source=DESKTOP-SA197CU\RONALDDB;Initial Catalog=AMS_BD_PROINSA_PRUEBA;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>

    <add name="SP_SNCRNZ_EXPORTAR_PROINSA" connectionString="Data Source=63.251.113.5;Initial Catalog=AMS_BD_GSK;Persist Security Info=True;User ID=sa;Password=Ams$pro" providerName="System.Data.SqlClient"/>
    <add name="SP_SNCRNZ_IMPORTAR_PROINSA" connectionString="Data Source=ADMIN-PC\SQLEXPRESS_PROIN;Initial Catalog=AMS_BD_PROINSA_PRUEBA;Persist Security Info=True;User ID=sa;Password=proinsagsk" providerName="System.Data.SqlClient"/>

    <!-- ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ -->

  </connectionStrings>
  <userSettings>
    <EASY_PASS_SWITCH_PANEL.Properties.Settings>
      <setting name="EmisorCorreo" serializeAs="String">
        <value>easypass@proinsaca.com</value>
      </setting>
      <setting name="ContrasenaCorreo" serializeAs="String">
        <value>abcd1234$$$</value>
      </setting>
      <setting name="PuertoCorreo" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ServidorCorreo" serializeAs="String">
        <value>mail.proinsaca.com</value>
      </setting>
      <setting name="Ssl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CorreoCopia" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="UltimaLectura" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="DestinatarioCorreo" serializeAs="String">
        <value>easypass@proinsaca.com</value>
      </setting>
      <setting name="Nombre_Cliente" serializeAs="String">
        <value>PROINSA_PROYECTOS_INTELIGENTES</value>
      </setting>
      <setting name="ApiURL" serializeAs="String">
        <value>http://localhost:81</value>
      </setting>
    </EASY_PASS_SWITCH_PANEL.Properties.Settings>
  </userSettings>

  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>
